<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="/stylesheets/footer.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>

<body>
  <footer class="footer">
    <div class="container-footer">
      <div class="row-footer">
        <div class="footer-col">
          <h4>SmartCode</h4>
          <ul>
            <img src="/images/smartcode.png" alt="smartcode" width="130" height="130">
          </ul>
        </div>
        <div class="footer-col">
          <h4>DoaWeb</h4>
          <ul>
            <li><a>Seja a luz na vida de alguém!
                Juntos, podemos transformar vidas e espalhar esperança por todo lugar!<a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Locais Parceiros</h4>
          <ul>
            <li><a
                href="https://www.google.com/maps/place/Fortaleza+-+Cear%C3%A1/@-3.7933105,-38.6020175,12z/data=!3m1!4b1!4m6!3m5!1s0x7c74c3f464c783f:0x4661c60a0c6b37ca!8m2!3d-3.7327203!4d-38.5270134!16zL20vMDJfOW4?entry=ttu">Fortaleza</a>
            </li>
            <li><a
                href="https://www.google.com/maps/place/Eus%C3%A9bio,+Cear%C3%A1/@-3.8744242,-38.5429421,12z/data=!3m1!4b1!4m6!3m5!1s0x7c75a680f6344f5:0xdf7b7d96071db65d!8m2!3d-3.8890009!4d-38.4546539!16s%2Fg%2F11bxfwc9bq?entry=ttu">Eusébio</a>
            </li>
            <li><a
                href="https://www.google.com/maps/place/Quixad%C3%A1,+Cear%C3%A1,+63900-000/@-4.9782132,-39.0349428,14z/data=!3m1!4b1!4m6!3m5!1s0x7be9fc4afc3f5e3:0x4920f6ec47296ab2!8m2!3d-4.9684385!4d-39.0161259!16s%2Fg%2F11bxfx92zn?entry=ttu">Quixadá</a>
            </li>
            <li><a
                href="https://www.google.com/maps/place/Sobral,+Cear%C3%A1/@-3.6836714,-40.3917944,13z/data=!3m1!4b1!4m6!3m5!1s0x7954b6af4595227:0xe0ece6e4f3ec3d5b!8m2!3d-3.6844057!4d-40.3561794!16s%2Fg%2F11bc59_2k2?entry=ttu">Sobral</a>
            </li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Redes Sociais</h4>
          <div class="social-links">
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/SmartCodeInnovation"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
  </footer>
</body>

</html>